<div class="window_moderator">
  Пароль(подсказка: пароль = 1)
  <input type="password" class="password" placeholder="">
  <button type="button" class="enter">Войти</button>
</div>
<div id="overlay"></div>
