
<table class="chapter" border="2">
  <caption>
    <span class="title">Форум</span>
    <button class="add_section" type="button">Добавить раздел</button>
  </caption>
  <colgroup>
    <col class="col1">
    <col class="col2">
  </colgroup>
  <thead>
  <tr>
    <th scope="col1">Раздел</th>
    <th scope="col2">Дата создания</th>
  </tr>
  </thead>
  <tbody></tbody>
</table>

<!--<div class="modal_section"></div>-->
