<div class="new_theme">
  <div class="theme_name">Название темы:</div>
  <input type="text" id="theme" placeholder="">
  <span>Подтвердите, пожалуйста, что Вы не робот! Введите число </span>
  <span class="random2"></span>
  <input type="text" class="captcha2" placeholder=""><br/>

  <button class="button_create">Создать тему</button>
</div>
<div id="overlay"></div>
