
<table class="chapter" border="2">
  <caption>
    <span class="title"><%-section%></span>
    <button class="add_theme" type="button">Добавить тему</button>
  </caption>
  <colgroup>
    <col class="col1">
    <col class="col2">
  </colgroup>
  <thead>
  <tr>
    <th scope="col1">Темы</th>
    <th scope="col2">Дата создания</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<div class="button_group">
  <button type="button" class="back">Вернуться на главную</button>
</div>
