<div class="modal_section">
  <div class="section_name">Название раздела:</div>
  <input type="text" placeholder="Имя раздела"><br/>
  <button type="button" class="create_section">Создать раздел</button>
</div>
<div id="overlay"></div>
