
<div class="new_comment">
  <div id="commentsHead">
    <h2><%-theme%></h2>
  </div>

  <div class="next">
    <textarea class="next_message" placeholder="Введите Ваше сообщение..."></textarea><br/>
  </div>


  <div id="button_center">
    <span>Введите число </span>
    <span class="random1"></span>
    <input type="text" class="captcha1"><br/>
    <button type="button" class="add_response">Добавить ответ</button>
  </div>
</div>

<div class="all_commentaries"></div>

<div class="button_group">
  <button type="button" class="back">Вернуться на главную</button>
</div>

<div id="arrow">&uArr;</div>


